html {
    overflow-y: scroll;
}
body {
    max-width: 60em;
    margin: auto;

    display: inline-block;
    width: 100%;
    text-align: center;
    background-image:url("coupe.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    background-color: rgb(144, 207, 207);
    color: rgb(90, 45, 45) ;
    font-size: 45px;
    font-style: italic;
}
p{ 
    color: rgb(0, 255, 0) ;
    font-size: 30px;
    font-style: italic;   
}

figure {
    float: right;
    text-align: center;
}

.menu ul {
    
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.menu li {
    
    background: #cce5ff;
    padding: 5px;
    color: rgb(234, 250, 7);
    margin: 5px;
    text-decoration-style: solid;
    text-decoration-thickness: 0.5rem;

}

.menu a {
    font-size: 25px;
    font-style: italic;
    color: rgb(84, 85, 69);
}

h2 {
    text-align: center;
    font-weight: bold;
    color: white;
    background: crimson;
    border-radius: 1em;
    margin: 1em auto;
    max-width: 90%;
    padding: .5em;
}